.my-menu{
    $button-size: 32px;
    $tooltip-size: 12px;

    position: relative;


    &-button {
        width: $button-size;
        height: $button-size;
        border: 3px solid white;
        border-radius: 50%;
        overflow: hidden;
        background-image: url('./assets/images/img-user-default.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;



        &:hover,
        &.is-active{
            border-color: $blue;
        }
        

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }

    &-content{
       @include pos-center-x;
       border-radius: 4px;
       box-shadow: $dropdown-shadow;
       top: $button-size + $tooltip-size + 8px;


       &::before,
       &::after{
        @include pos-center-x;
        content: '';
        display: block;
           width: 0;
           height: 0;
           border-top: $tooltip-size solid transparent;
           border-right: 9px solid transparent;
           border-bottom: $tooltip-size solid white;
           border-left: 9px solid transparent;
           top: -#{$tooltip-size * 2};
       }

       &::before{
            border-bottom-color: $border;
       }

       &::after{
        border-bottom-color: white;
        top: -#{$tooltip-size *2 - 2px};
       }

    }
    &-list{
        width: 200px;
        padding: 8px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid $border;
    }
    &-item{
        a, button{
            @include flexbox(start);
            @include text-style(16, $primary);
            width: 100%;
            height: 44px;
            padding: 0 8px;
            border-radius: 2px;



            &:hover{
                background-color: #eee;
            }
        }
    }
}